include index

script( type="text/jsx" )
    include ../js/profile.js

body(onload="initDoctorProfile()")
    include header_doctor.pug

    div#doctor-profile-content
    div#doctor-password
        h2#doctor-password-title.first-row Password

        p.first-column.second-row.th Current Password
        input(type='password').first-column.third-row.input-password

        p.second-column.second-row.th New Password
        input(type='password').second-column.third-row.input-password

        p.third-column.second-row.th Repeat Password
        input(type='password').third-column.third-row.input-password

        input(type='button' value="Update").gradientBlue.fourth-column.third-row.update

include footer.pug
