header
    div.watermark
        img(src='img/logo.PNG', alt='logo')
        h1.uppercase m-chat-r
            sup.uppercase tm
    div.menu
        ul.capitalize
            li patients list
            li.selected account