header
    div.watermark
        img(src='img/logo.PNG', alt='logo')
        h1.uppercase m-chat-r
            sup.uppercase tm
    div.menu
        ul.capitalize
            li.selected home
            li protocol
            li about m-chat-r
            li contact
            li
                input(type='button' value="i'm a doctor").gradientBlue.uppercase