include index.pug

script( type="text/jsx" )
    include ../js/profile.js

body(onload='initPatientProfile()')#user-profile
    include header_user.pug

    div#child-profile-content
    div#child-profile-update
    div#parent-profile-content
    div#parent-profile-update
    div#user-password
        h2#user-password-title.first-row Password

        p.first-column.second-row.th Current Password
        input(type='password')#current-password.first-column.third-row.input-password

        p.second-column.second-row.th New Password
        input(type='password')#new-password.second-column.third-row.input-password

        p.third-column.second-row.th Repeat Password
        input(type='password')#repeat-password.third-column.third-row.input-password

        input(type='button' value="Update" onClick='updatePassword()').gradientBlue.fourth-column.third-row.update

    div#patient-password-update

include footer.pug
