include index.pug

script( type="text/jsx" )
    include ../js/profile.js

body(onload="initPatientProfile()")#user-profile
    include header_user.pug

    div#child-profile-content
    div#parent-profile-content
    div#user-password
        h2#user-password-title.first-row Password

        p.first-column.second-row.th Current Password
        input.first-column.third-row.input-text

        p.second-column.second-row.th New Password
        input.second-column.third-row.input-text

        p.third-column.second-row.th Repeat Password
        input.third-column.third-row.input-text

        input(type='button' value="Update").gradientBlue.fourth-column.third-row.update

include footer.pug
